<div class="container">
  <div class="content-about">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <%= image_tag 'https://placehold.it/150x150' %>
      </div>
      <div class="col-xs-12 col-md-7">
        <h2>Over mij</h2>
        <p>teeeeeeeeeeeekst
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint nihil, praesentium voluptatibus in placeat ea iste fugiat modi magnam cum ipsa necessitatibus blanditiis aliquid esse numquam itaque doloribus sapiente.teeeeeeeeeeeekst
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint nihil, praesentium voluptatibus in placeat ea iste fugiat modi magnam cum ipsa necessitatibus blanditiis aliquid esse numquam itaque doloribus sapiente.</p>
        </div>
      </div>
    </div>
