<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Ervaring</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
  </div>
</div>
-->
<div class="experience-container">
    <div class="timeline">
      <dl>
        <dd class="pos-right clearfix">
          <div class="circ"></div>
          <div class="time">apr 2016</div>
          <div class="events">
            <div class="pull-left">
              <img src="" alt="" class="events-object img-rounded">
            </div>
            <div class="events-body">
              <h4 class="events-heading">Potato</h4>
              <p>potatopotatopoatotpaopopatopato</p>
            </div>
          </div>
        </dd>
      </dl>
  </div>
</div>
