<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Ervaring</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>ICON</p>
      <p>TITLE</p>
      <p>Uitleg</p>
    </div>
  </div>
</div>
