<!-- <div class="banner">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
 -->
        <div class="homepage-hero-module">
          <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
              <source src="<%= video_path 'Sunset-Lapse.mp4' %>" type="video/mp4" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="<%= video_path 'Sunset-Lapse.webm' %>" type="video/webm" />
                  Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
                <div class="poster hidden">
                  <%= image_tag 'Sunset-Lapse.jpg' %>
                </div>
                <div class="home-titlecontainer">
                  <h1><strong>Saskia Roelofs</h1></strong>
                  <br>
                  <h3>Loop je tegen moeilijke situaties aan? Kan je wel een <strong> coach </strong> gebruiken die je hierdoor heen helpt?</h3>
                  <br>
                  <%= link_to "Over mij", about_path, class: 'btn-medium'%>
                </div>
              </div>
            </div>
    <!--       </div>
        </div>
      </div>
    </div> -->
    <!-- FIX: get video as wide as screen not as container  -->
