<div class="banner" style="background-image: linear-gradient(-225deg, rgba(239, 195, 239, 0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_tag "assets/images/lightbulb.jpg" %>);">
  <div class="banner-content">
    <h1>Op zoek naar een coach?</h1>
    <p>Iemand met jaren ervaring die je door moeilijke periodes heen helpt?</p>
    <a class="btn btn-primary btn-lg">SASKIA</a>
  </div>
</div>