<div class="wrapper-home">
	<div class="home">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<div class="text-home">
						<h1>I am some future text</h1>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="image-home">
						<h1>I should become an image</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
