.btn-medium {
  background-color: #b5b5b5;
  color: $black;
  padding: 12px 21px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: $blue;
}
