
.btn-medium {
  color: #E5EEC1;
  border: 2px solid #E5EEC1;
  padding: 12px 21px;
  border-radius: 50px;
  font-weight: bold;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #5A5050;
}
